.order-block__header {
  text-indent: 0;
  text-align: center;
  color: #000;
  text-align: center !important;
  margin: 15px;
  line-height: 25px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5;
}

.order-block__title {
  font-size: 25px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.order-block__subtitle {
  display: block;
  text-align: center;
}

.danger-text {
  color: red;
  font-weight: bold;
}

.timer {
  margin-bottom: 15px;
}

#time {
  color: red;
  font-weight: 700;
  font-size: 1.5rem;
}

.order_block {
  display: none;
  text-align: center !important;
}

.order_block h3 {
  font: bold 18px Arial !important;
  background: transparent;
}

.order_block form {
  margin: 0 auto;
}

@media (max-width: 320px) {
  .order_block form {
    width: auto;
  }

  .submit-roulette {
    font-size: 24px !important;
  }

  .priceÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â {
    right: 43% !important;
  }
}

.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: bold;
}

.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0;
  left: 0;
  top: 40%;
  margin: 0 auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../fonts/cross.svg);
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer;
}

.pop-up-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.pop-up-text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center !important;
}

.pop-up-button {
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: #71c341;
  color: #fff !important;
  border: medium none;
  cursor: pointer;
  outline: medium none;
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
}

.pop-up-layer {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  z-index: 99 !important;
}

.pop-up-layer-show {
  display: block;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0;
  left: 0;
  top: 40%;
  margin: 0 auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #71c341;
  border-radius: 50%;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor #fff #fff;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

.text_small {
  font-size: 0.5em !important;
  font-weight: normal !important;
}

@keyframes pop-up-appear {
  0% {
    transfsorm: translateY(-2000px);
  }

  30% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes pop-up-appear-before {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-up-button:hover {
  color: #fff !important;
  text-decoration: none !important;
}

@media all and (max-width: 520px) {
  .cursor-text {
    line-height: 54px !important;
    font-size: 12px !important;
  }

  .c-app-nav > li > a {
    margin-left: 15px;
  }
}

@media all and (max-width: 350px) {
  .cursor-text {
    line-height: 42px !important;
  }
}

.priceÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â {
  position: absolute;
  font-family: "Arial", sans-serif;
  right: 13%;
  bottom: 0;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.8) 0 3px 30px;
  width: 165px;
  height: 98px;
  text-align: center !important;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3;
  transform: rotateZ(-7deg);
  margin: -0 auto 0;
  background: linear-gradient(
    to right,
    rgb(238, 165, 19) 0%,
    rgb(253, 237, 19) 100%
  );
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-image: initial;
  border-radius: 19%;
}

span.discountÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â {
  display: block;
  margin-top: 9px;
  font-size: 18px;
}

.price_main {
  border-bottom: 2px solid #d31812;
  font-size: 24px;
  line-height: 0;
  margin: 0 auto;
}

.prod_img_wrapper {
  text-align: center;
  max-width: 500px;
  margin: 15px auto;
  position: relative;
}

.prod_img_wrapper img {
  width: 81%;
}

#luckyshop_form label {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: black !important;
}

.input-roulette,
.country {
  padding: 10px;
  display: block;
  margin: 10px auto;
  border: 2px solid gray;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
}

.submit-roulette {
  box-shadow: 0 1px 0 0 #f5978e inset;
  background: #f24537;
  border-radius: 3px;
  border: 1px solid #d02718;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #810e05;
  margin-top: 10px;
  transition: 0.2s;
  line-height: 30px;
  font-family: roboto\condensed;
  font-size: 26px;
  font-weight: 600;
}

.submit-roulette:hover {
  background: #c62d1f;
}

.submit-roulette:active {
  position: relative;
  top: 1px;
}

@media all and (max-width: 767px) {
  .close-popup {
    right: 0;
  }

  .prod_img_wrapper img {
    width: 100%;
  }
}

.priceÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â {
  position: absolute;
  font-family: "Arial", sans-serif;
  right: 13%;
  bottom: 0;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.8) 0 3px 30px;
  width: 165px;
  height: 98px;
  text-align: center !important;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3;
  transform: rotateZ(-7deg);
  margin: -0 auto 0;
  background: linear-gradient(
    to right,
    rgb(238, 165, 19) 0%,
    rgb(253, 237, 19) 100%
  );
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-image: initial;
  border-radius: 19%;
}

span.discountÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â {
  display: block;
  margin-top: 9px;
  font-size: 18px;
}

.price_main {
  border-bottom: 2px solid #d31812;
  font-size: 24px;
  line-height: 0;
  margin: 0 auto;
}

.prod_img_wrapper {
  text-align: center;
  max-width: 500px;
  margin: 15px auto;
  position: relative;
}

.prod_img_wrapper img {
  width: 81%;
}

#luckyshop_form label {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

.input-roulette,
.country {
  padding: 10px;
  display: block;
  margin: 10px auto;
  border: 2px solid gray;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
}

.submit-roulette {
  box-shadow: 0 1px 0 0 #f5978e inset;
  background: #f24537;
  border-radius: 3px;
  border: 1px solid #d02718;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #810e05;
  margin-top: 10px;
  transition: 0.2s;
  line-height: 30px;
  font-family: roboto\condensed;
  font-size: 26px;
  font-weight: 600;
}

.submit-roulette:hover {
  background: #c62d1f;
}

.submit-roulette:active {
  position: relative;
  top: 1px;
}

@media all and (max-width: 767px) {
  .close-popup {
    right: 0;
  }

  .prod_img_wrapper img {
    width: 100%;
  }
}

.alert {
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 85px;
  right: 10px;
  padding: 10px 20px;
  max-width: 90%;
  background: #f7f7f7;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 400;
  font-size: 16px;
  line-height: 135%;
  background-color: #fff;
}

.alert--show {
  top: 85px;
  opacity: 1;
  z-index: 1000;
  pointer-events: auto;
}

.alert__img {
  max-height: 50px;
  padding: 0;
  display: inline-block;
  margin-right: 5px;
}
.hed-im {
  width: 100% !important;
  max-width: 300px;
}
@media (max-width: 780px) {
  .hed-im {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .ima-to {
    padding: 0 20px !important;
  }
}
input::placeholder {
  border: none !important;
}

.countdown-block {
  text-align: center;
  background: #ed1b24;
  color: #fff;
  padding-bottom: 10px;
  box-shadow: 0 0 black;
}

.countdown-block h3 {
  font-weight: 800;
  font-size: 28px;
  padding-top: 5px;
  margin: 0;
  color: white;
  line-height: 1;
  padding-bottom: 10px;
}
.left {
  position: relative;
}

.sale-procent {
  max-width: 100px;
  top: 0;
  right: -35px;
  position: absolute;
}
.countdown-container {
  max-width: 320px;
  background: #ed1b24;
  border: 5px solid #fffd07;
  text-align: center;
  margin: 0 auto;
}

.countdown-container h3 {
  color: #fffd07;
  margin: 0 auto;
  margin-top: -10px;
  background: #ed1b24;
  width: 90%;
  text-transform: uppercase;
  font-weight: 700;
}

.countdown {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 39px;
  line-height: 1;
}

.countdown-item {
  color: #fff;
  width: 80px;
  font-weight: bold;
  text-align: center;
}

.countdown-divider {
  color: #fff;
  width: 1rem;
}

.countdown-text {
  margin: 0 auto;
  margin-bottom: -8px;
  background: #ed1b24;
  width: 90%;
  color: #fffd07;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.countdown-text span {
  /*width: 4rem;
    margin-right: 2rem;*/
  text-align: center;
  width: 33%;
}

.best-form {
  font: 16px/1.2 "Roboto", sans-serif;
  padding: 1rem;
  padding-bottom: 70px;
  color: #fff;
  background-color: #fa0;
  background-image: url("62de4e9c2eb3701760f4cfabbfef5edf717d4abc.svg");
  background-size: cover;
}

.form-main {
  max-width: 320px;
  margin: 0 auto;
}

.product {
  /* max-width: 320px; */
  margin: 0 auto;
  display: flex;
}

.product .right {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product .price-old {
  line-height: 1;
}

.product .price-old span {
  display: inline-block;
  padding: 0 1rem;
  font-size: 25px;
  color: #000;
  position: relative;
  text-decoration: line-through;
}

/* .product .price-old span:before {
        position: absolute;
        content: "";
        left: 0;
        top: 45%;
        right: 0;
        border-top: 5px solid #ed1b24;
        transform: rotate(-10deg);
    } */

.product .discount-text {
  margin-top: 1rem;
  color: #000;
  font-size: 18px;
}

.product .price {
  color: #ff0000;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1;
}

.product .price span {
  font-weight: 300;
  font-size: 30px;
  margin-left: 5px;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.country-input,
.name-input,
.phone-input {
  color: #000;
  background: #fff;
  border: 0;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 19px;
  margin-bottom: 10px;
  display: flex;
  transition: all 0.15s ease-in-out;
}

.name-input label,
.phone-input label,
select {
  align-self: center;
  padding-left: 15px;
  width: 60px;
  font-weight: 700;
  -webkit-appearance: none;
}

.name-input input,
.phone-input input,
select {
  flex: 1 1 auto;
  border: 0;
  padding: 7;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  min-width: 0;
  padding: 10px 15px;
  padding-left: 10;
  border-radius: 6px;
}

input::placeholder {
  font-family: sans-serif;
  color: grey !important;
}

.button-submit {
  text-align: center;
  display: flex;
  box-sizing: border-box !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  border-radius: 6px;
  border: 0;
  padding: 14px 0;
  background-image: linear-gradient(to top, #137c09, #16ac0c);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  font: 23px/1.4 "Roboto", sans-serif;
  font-weight: 400;
}

.button-submit-text {
  color: #fffefe;
  flex: 1 1 auto;
  font: inherit;
  font-weight: 900;
}

.button-submit-arrow {
  width: 0;
  height: 0;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;
  border-left: 1rem solid #fff;
  margin-right: 1rem;
}

#only-mob {
  display: none;
}

@media screen and (max-width: 759px) {
  .product {
    display: block;
  }

  #not-on-mob {
    display: none;
  }

  #only-mob {
    display: block;
    text-align: center;
  }
}

.btnbtn {
  animation: shadow-pulse2 1s infinite;
}

@keyframes shadow-pulse2 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 128, 0, 0.9);
    /*box-shadow: 0 0 0 0px rgba(255, 160, 122, 0.9);*/
  }

  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

.btnbtn {
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255) !important;
  background-color: none;
  background-image: linear-gradient(to top, #002f99, #870000);
  /*background: linear-gradient(rgba(255, 255, 0, 0.9), rgba(255, 0, 0, 0.9));*/
  display: inline-block;
  padding: 14px 14px;
  margin: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 30px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  animation: shadow-pulse2 1s infinite;
  font-weight: 700;
  white-space: normal;
}

.pulse {
  background-color: rgba(0, 113, 227, 1);
  /*blue*/
  animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 113, 227, 0.9);
  }

  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse-big {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 113, 227, 0.9);
  }

  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
}

.timer-in-button {
  margin: 12px;
  display: block;
  white-space: nowrap;
}

.timer-in-button span {
  margin: 0 7px;
  background: white;
  color: red;
  padding: 5px;
  border-radius: 3px;
}

.prod-pulse {
  margin-bottom: 15px;
  border-radius: 20px;
  animation: prod-shadow-pulse 1s infinite;
}

@keyframes prod-shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.9);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

@keyframes prod-shadow-pulse2 {
  0% {
    background: linear-gradient(
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0) 25%
    );
  }

  11% {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 25%,
      rgba(255, 255, 255, 0) 50%
    );
  }

  23% {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 75%
    );
  }

  34% {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  45% {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0.8) 100%
    );
  }

  55% {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0.8) 100%
    );
  }

  66% {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  77% {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 75%
    );
  }

  89% {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 25%,
      rgba(255, 255, 255, 0) 50%
    );
  }

  100% {
    background: linear-gradient(
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0) 25%
    );
  }
}

@keyframes prod-shadow-pulse3 {
  0% {
    box-shadow: 5px 0px 2px white;
  }

  15% {
    box-shadow: 5px 5px 2px white;
  }

  30% {
    box-shadow: 0px 5px 2px white;
  }

  45% {
    box-shadow: -5px 5px 2px white;
  }

  55% {
    box-shadow: -5px 0px 2px white;
  }

  70% {
    box-shadow: -5px -5px 2px white;
  }

  85% {
    box-shadow: 0px -5px 2px white;
  }

  100% {
    box-shadow: 5px -5px 2px white;
  }
}

.countdown-container h3 {
  font-size: 1rem;
}

.countdown-text {
  font-size: 0.8rem;
}

.product .price-old span {
  font-size: 25px;
}

.product .price {
  font-size: 30px;
}

.best-form {
  background: linear-gradient(#fffcc0, #a4babb);
}

.countdown-block,
.countdown-container,
.countdown-container h3,
.countdown-text {
  background: #9c1402;
}

@media (max-width: 600px) {
}

.button-submit {
  background-image: linear-gradient(to top, #002f99, #870000);
}

.vk-comment-text img {
  max-width: 350px !important;
  width: 100% !important;
  display: block !important;
}
.button__text:after {
  content: "*";
  display: inline-block;
  font-size: 75%;
  vertical-align: top;
}

@media only screen and (max-width: 1230px) {
  .ac_footer {
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .ac_footer {
    padding: 15px;
    font-size: 11px;
    line-height: 1.2;
  }
}
.footer {
  padding: 20px 10px;
}
.footer * {
  font-size: 13px;
}
